<div style='height: 45px;position: relative;'>
	<a href='<%= "#{url}" %>' target='_blank' style='float: left;'>
		<%= tag(:img, id: "#{name}_link", class: 'social_link', alt: alt, src: asset_path("social_networks/#{name}.png")) %>
	</a>
	<div class='social_edito'>
		<%= edito %>
	</div>
</div>