div id='main_view'
  div id='photos_header'
    p
    | A guy: a photography beginner
    p
    | A camera:
    a<> href='http://en.wikipedia.org/wiki/Canon_EOS_100D' Canon 100D
    | (with a Canon EF-S 18-55 STM lens)
    p
    | A philosophy: Just raw images, No Photoshop

  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/ducati.jpg'),\
      title:         'Custom Ducati Sport 1000',\
      subtitle:      'Meet the motorbike I dream of',\
      aperture:      'f/11',\
      shutter_speed: '1/25',\
      place:         'New York City, NY',\
      date:          'October 16, 2013',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/flatiron.jpg'),\
      title:         'Flatiron Building',\
      subtitle:      'Stronger than the wind',\
      aperture:      'f/5.6',\
      shutter_speed: '1/200',\
      place:         'New York, NY',\
      date:          'September 30, 2013',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/autumn_providence.jpg'),\
      title:         'Autumn in Providence',\
      subtitle:      'Leaves on the bridge',\
      aperture:      'f/4',\
      shutter_speed: '1/30',\
      place:         'Providence, RI',\
      date:          'October 5, 2013',\
    }
