<div id='left_panel'>
	<%= tag(:img, id: 'profile_photo', alt: 'no smile', src: asset_path("face.jpg")) %>
	<h2>Arnaud Besnier</h2>
	<ul>
		<li>facebook</li>
		<li>Google+</li>
		<li>Twitter</li>
		<li>Instagram</li>
		<li>Pinterest</li>
		<li style='color:orange;'>Soundcloud</li>
		<li style='color:pink;'>Dribble</li>
		<li>LinkedIn</li>
		<li>Github</li>
	</ul>
</div>
<div id='main_view'>
	<p>Right Panel</p>
</div>