div id='main_view'
  div id='photos_header'
    p
    | A photography beginner
    p
    | A
    a<> href='http://en.wikipedia.org/wiki/Canon_EOS_100D' Canon 100D
    | camera (with a Canon EF-S 18-55 STM lens)
    br
    br
    p
    i<> “You don't take a photograph, you make it.”
    | ― Ansel Adams

  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/petra_piana.jpg'),\
      title:         'Petra Piana View',\
      subtitle:      'Peaceful mountains from the shelter',\
      aperture:      'f/5,6',\
      shutter_speed: '1/30',\
      place:         'Petra Piana, Corsica, France',\
      date:          'June 24, 2015',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/gili.jpg'),\
      title:         'Gili Island',\
      subtitle:      'Tortules heaven',\
      aperture:      'f/8',\
      shutter_speed: '1/125',\
      place:         'Gili Trawangan, Indonesia',\
      date:          'October 22, 2014',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/gunungkawi.jpg'),\
      title:         'Gunung Kawi Temple',\
      subtitle:      'Tomb of King Anak Wungsu of the Udayana dynasty',\
      aperture:      'f/5.6',\
      shutter_speed: '1/200',\
      place:         'Region of Ubud, Indonesia',\
      date:          'October 18, 2014',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/ducati.jpg'),\
      title:         'Custom Ducati Sport 1000',\
      subtitle:      'Meet the motorbike I dream of',\
      aperture:      'f/11',\
      shutter_speed: '1/25',\
      place:         'New York City, NY',\
      date:          'October 16, 2013',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/flatiron.jpg'),\
      title:         'Flatiron Building',\
      subtitle:      'Stronger than the wind',\
      aperture:      'f/5.6',\
      shutter_speed: '1/200',\
      place:         'New York, NY',\
      date:          'September 30, 2013',\
    }
  = render partial: 'partials/photo', locals: {\
      img_src:       asset_path('photos/autumn_providence.jpg'),\
      title:         'Autumn in Providence',\
      subtitle:      'Leaves on the bridge',\
      aperture:      'f/4',\
      shutter_speed: '1/30',\
      place:         'Providence, RI',\
      date:          'October 5, 2013',\
    }
