div id='main_view'
  div style='min-height: 400px;'
    h2 Nov 31, 2014
    h1 Why Soundcloud is good for your health?
    h3 1. I don't want describe the music I like with words
    p
      ' I am not easily able to describe the kind of music I like.
      ' If I like the sound of a profile, I just have to follow the guy and he will populate your music.
      ' You can easily pass a music you dont like
      ' But I am able to say who are my friends that like the same kind of music I do.
      ' We all have friends that listen to music you don't appreciate at all, but friends can like the same kind of music!
      ' Soundclound is a great app for that.
      ' The play list feature is really an important one
      ' I would like to have music suggestions related to the music I recently liked or posted. Maybe this is to much to ask.'
    br
    h3 2. Bright integration to the Android ecosystem
    p
      ' / The record button in the latest version is harder to find. But that's a good choice.
      ' As a Soundcloud listener, I don't need this feature. Maybe their analytics usage, have revealed what users wants.
      ' I am pretty sure that SOundcloud contributor upload their sounds from the web app.
      ' widget to register sounds quickly
      ' I like the way covers are displayed, it make the app joyfull, the sound beat is out of the box.
      ' As a listener, Soundcloud is perfect it is free, I can discover new musicians.
      ' It is time to go to the material design Soundcloud Android app team! with an action bar of best orange color!
    br
    h3 3. This platform as huge potential (Good mark!)
    p
    ' I like the way Soundcloud integrate the sounds outside of Soundcloud (Facebook or ...)
    '  This service might become the equivalent of music, YouTube is for videos, Github is for code sharing.
    ' More than a music app, I should go further in the search look maybe for podcasts, audio books, relaxing sounds, ...
    h3 3.Good Reviews!
    p
      ' This app is strong and stable having a 4.3 mark on Google Play, knowing how it is hard to have to face user form every kind of culure and education level. This show the app is simple enough to appeal to a lot of people.

    br
    h3 4. It now integrates with Sonos!
    p
      ' Now I really want buy a Sonos device!
      '
      ' Sonos could be the equivalent of chromecast for sounds
      ' http://sonos.soundcloud.com/
      ' I was quite desapointed few month ago that there was no simple way to send music from SOundcloud to Sonos'
      ' Soundcloud Android App 14.11
      ' #music
      '
      ' I need a Soundcloud integration with Sonos
      ' http://blog.soundcloud.com/2014/07/10/soundcloud-connects-with-sonos/

