/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	height: 100%;
}
body {
	height:  100%;
	margin:  0;
	padding: 0;
	font-family: 'Helvetica Neue';
}
h2, h4 {
	color: #666;
}

#left_panel {
	height:       93%;
	width:        17.5%;
	max-width:    400px;
	min-width:    200px;
	margin:       2% 0;
	padding:      0 3% 0 2%;
	border-right: 1px solid #ccc;
	position:     fixed;
}

#profile_photo {
	width:      100%;
	border:     2px solid #fff;
	box-shadow: 1px 1px 10px #666;
}

#social_list {
	list-style: none;
	padding: 0;
}

#social_container {
	height:        40px;
	margin-bottom: 5px;
	position:      relative;
}

.social_link {
	height: 40px;
	width: 40px;
}
.social_edito {
	bottom:      0;
	margin-left: 50px;
	font-size:   14px;
	color:       #ccc;
	position:    absolute;
}

#main_view {
	height:      2000px;
	margin-left: 24.5%;
}