/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

$main_font_family:  'Quicksand', sans-serif;
$font_color_main:   #666;
$font_color_second: #aaa;
$font_color_third:  #ccc;
$draft_font_family: 'Permanent Marker', cursive;
$draft_font_color:  #999;

$resume_color_1:     #958957;
$resume_color_2:     #38608F;
$resume_color_2_sub: #5081B9;
$resume_color_3:     #254160;
$resume_color_3_sub: #5182BB;
$resume_color_4:     #779141;
$resume_color_4_sub: #9CBA5F;

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background-color: $font_color_second;
}
.nav-pills > li > a {
	color: $font_color_second;
}

$border_style: 1px solid #eee;

h3, h4 {
	color: $font_color_main;
}

h3 {
	font-family: $main_font_family;
	font-weight: normal;
}

h4 {
	font-family:   $main_font_family;
	font-size:     15px;
	font-weight:   normal;
	margin-top:    2px;
	margin-bottom: 0;
}

a > h4:hover {
	color: $font_color_second;
	text-decoration: underline;
}

p > a {
	color: $font_color_second;
	text-decoration: underline;
}

p > a:hover {
	color: $font_color_third;
	text-decoration: underline;
}

h6 {
	font-family: $main_font_family;
	color:       $font_color_second;
	font-size:   12px;
	font-weight: normal;
	line-height: 120%;
	margin:      0;
}

.draft {
	font-family: $draft_font_family;
	color:       $draft_font_color;
	font-size:   36px;
}

p {
	margin: 0;
}

/* Header */

.header {
	border-bottom: $border_style;
}

.nav {
	margin-bottom: 0;
}

.header h3 {
	margin-top:    0;
	margin-bottom: 0;
	line-height:   40px;
}

#photos_header {
	padding-bottom: 10px;
	margin-bottom:  20px;
	border-bottom:  $border_style;
}

.resume_title {
	margin-bottom: 0;
}

.line {
	height:        1px;
	width:         100%;
	margin-bottom: 10px;
}

/* Container */

.description_icon {
	float:   left;
	padding: 4px 6px 0 0;
}

/* Footer */

.footer {
	padding-left:  15px;
	padding-right: 15px;
	margin-top:    20px;
	padding-top:   15px;
	color:         #777;
	border-top:    $border_style;
}

#social_list {
	list-style:   none;
	width:        330px;
	margin-left:  auto;
	margin-right: auto;
}

.social_item {
	float:       left;
	margin-left: 10px;
}

.social_link {
	height:        30px;
	width:         30px;
	border-radius: 5px;
}

/* Resume */

.resume_subtitle {
	margin-top: 8px;
}

#resume > p {
	padding-left: 20px;
	font-size:    11px;
	color:        $font_color_second;
	line-height:  130%;
}

.resume_color_1 {
	color: $resume_color_1;
}

.resume_color_2 {
	color: $resume_color_2;
}
.resume_line_color_2 {
	background-color: $resume_color_2;
}

.resume_color_2_sub {
	color: $resume_color_2_sub;
}

.resume_color_3 {
	color: $resume_color_3;
}
.resume_line_color_3 {
	background-color: $resume_color_3;
}

.resume_color_3_sub {
	color: $resume_color_3_sub;
}

.resume_color_4 {
	color: $resume_color_4;
}
.resume_line_color_4 {
	background-color: $resume_color_4;
}

.resume_color_4_sub {
	color: $resume_color_4_sub;
}


/* Responsive: Everything except smartphones in portrait */
@media screen and (min-width: 640px) {

	body {
		padding-top:    20px;
		padding-bottom: 20px;
	}

	.header {
		margin-bottom: 20px;
	}

	/* Container */

	.container {
		margin:    0 auto;
		max-width: 1050px;
	}

	#panel {
		width: 25%;
		float: left;
	}

	#profile_photo {
		width:         100%;
		border-radius: 50%;
	}

	#panel_menu {
		margin-top: 20px;
	}

	#main_view {
		margin-left:  29%;
		margin-right: 0;
	}

	#photo {
		border:             10px solid #fff;
		box-shadow:         1px 1px 10px #666;
		box-sizing:         border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		-ms-box-sizing:     border-box;
	}
}

/* Responsive: Smartphones in portrait (tested on Galaxy S4) */
@media (max-width: 640px) {

	body {
		padding: 5px 0 20px 0;
	}

	.header {
		margin-bottom: 0px;
	}

	#title {
		padding-left: 5px;
	}

	.resume_title {
		margin-left: 1%;
	}

	.resume_subtitle {
		margin-left: 1%;
	}

	.line {
		margin-left:  1%;
		width:        98%;
	}

	/* Container */

	.container {
		margin: 0 0;
		border-width: 2;
	}

	#panel {
		width:          100%;
		overflow:       auto;
		padding-top:    20px;
		padding-bottom: 20px;
		border-bottom:  $border_style;
		margin-bottom:  10px;
	}

	#profile_photo {
		margin-left:   -20%;
		width:         40%;
		border-radius: 50%;
		float:         left;
	}

	#panel_menu {
		margin: 10% 0 10% 25%;
	}

	#main_view {
		margin-left:  0;
		margin-right: 0;
	}

	#photos_header {
		padding-left:  5px;
		padding-right: 5px;
	}

	#photo {
		width: 100%;
	}

	.resume_header {
		padding: 0 1%;
	}
}
