/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	height: 100%;
}
body {
	height:  100%;
	margin:  0;
	padding: 0;
}

#left_panel {
	height:       93%;
	width:        17.5%;
	margin:       1% 0;
	padding:      0 3% 0 2%;
	border-right: 1px solid #ccc;
	position:     fixed;
}

#profile_photo {
	height:     260px;
	width:      260px;
	border:     2px solid #FFF;
	box-shadow: 1px 1px 10px #666;
}

#main_view {
	height:      2000px;
	margin-left: 24.5%;
}